{% extends "eat_at_canteen/base.html" %}
    {% load staticfiles %}

    {% block body_block %}
<div class="jumbotron">
    <h1 style="text-align: center"> Please Select the table </h1>

    <div class="main">



<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('nature')"> Normal</button>
  <button class="btn" onclick="filterSelection('cars')"> Party</button>
  <button class="btn" onclick="filterSelection('people')"> Family</button>
</div>
<form action="{% url 'eat_at_canteen:check' %}"  method="POST">
        {% csrf_token %}
<!-- Portfolio Gallery Grid -->
<div class="row">

    {% for acc in t %}
        {% if acc.zone == "Normal" %}
            <div class="column nature">
                <div class="content">
                    <img src="{% static 'eat_at_canteen/images/8.jpg' %}" alt="Mountains" style="width:100%">
                    <h4>Table_No:{{ acc.Table_No }}</h4>
                    <h4>Max_size:{{ acc.Max_size }} category:{{ acc.category }} </h4>
                    {% if acc.availability == True %}
                        BOOK<input type="checkbox" value="Book" name="{{ acc.Table_id }}">
                    {% else %}
                        <input type="text" value="RESERVED">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {% for acc in t %}
        {% if acc.zone == "Party" %}
            <div class="column cars">
                <div class="content">
                    <img src="{% static 'eat_at_canteen/images/tableparty.jpg' %}" alt="Mountains" style="width:100%;height:170px">
                    <h4>Table_No:{{ acc.Table_id }}</h4>
                    <h4>Max_size:{{ acc.Max_size }} category:{{ acc.category }} </h4>
                    {% if acc.availability == True %}
                        BOOK<input type="checkbox" value="Book" name="{{ acc.Table_id }}">
                    {% else %}
                        <input type="text" value="RESERVED">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% for acc in t %}
        {% if acc.zone == "Family" %}
            <div class="column people">
                <div class="content">
                    <img src="{% static 'eat_at_canteen/images/family.jpg' %}" alt="Mountains" style="width:100%">
                    <h4>Table_No:{{ acc.Table_No }}</h4>
                    <h4>Max_size:{{ acc.Max_size }} category:{{ acc.category }} </h4>
                    {% if acc.availability == True %}
                        BOOK<input type="checkbox" value="Book" name="{{ acc.Table_id }}">
                    {% else %}
                        <input type="text" value="RESERVED">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

<!-- END GRID -->
</div>
        <div style="text-content: center"><input type="submit" class="button1" value="checkout"></div>

</form>

<!-- END MAIN -->
</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</div>
{% endblock %}